@model ProductVM  

@{
    ViewData["Title"] = "Add";
}

<div class="card shadow border-0 mt-4">
    <div class=" card-header bg-secondary bg-gradient m-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary ">@(Model.Product.Id != 0?"Update":"Create")  Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form asp-action="Upser" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageUrl" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3 ">
                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.Author" class="form-control shadow border-0" />
                            <label asp-for="Product.Author" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>

                        <div class=" form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control  shadow border-0" />
                            <label asp-for="Product.Title" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <textarea asp-for="Product.Description" class="form-control shadow border-0"></textarea>
                            <label asp-for="Product.Description" class="control-label ms-2"></label>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.ISBN" class="form-control shadow border-0" />
                            <label asp-for="Product.ISBN" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.ListPrice" class="form-control shadow border-0" />
                            <label asp-for="Product.ListPrice" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control shadow border-0" />
                            <label asp-for="Product.Price" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.Price50" class="form-control shadow border-0" />
                            <label asp-for="Product.Price50" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>

                        <div class=" row form-floating py-2 col-12">
                            <input asp-for="Product.Price100" class="form-control shadow border-0" />
                            <label asp-for="Product.Price100" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>

                        <div class=" row form-floating py-2 col-12">
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select shadow border-0">
                                <option disabled selected>--- Select Category ---</option>

                            </select>
                            <label asp-for="Product.CategoryId" class="control-label ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class=" row form-floating py-2 col-12">
                            <input type="file" name="file" asp-for="Product.ImageUrl" class="form-control shadow border-0" />
                            <label asp-for="Product.ImageUrl" class="control-label ms-2"></label>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <input type="submit" value="Update" class="btn btn-primary form-control" />
                                }
                                else
                                {
                                    <input type="submit" value="Create" class="btn btn-primary form-control" />

                                }
                            </div>
                            <div class="col-6 col-md-3">

                                <a asp-action="GetAllProduct" class="btn btn-secondary form-control">Back to List</a>

                            </div>
                        </div>
                    </div>
                </div>
                @*mt-4*@
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                    style="border-radius:5px;border:1px solid #bbb9b9"/>
                </div>
            </div>

        

        </form>

    </div>
 </div>


 


@section Scripts {

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
